<a href="https://colab.research.google.com/github/riabose2507/data-analysis-basics/blob/main/Interweaving_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

In [4]:
var_set_in_python = "Set this variable in python"

In [40]:
%%R
var_set_in_R = "Set in variable in R"
cat("Displaying from R: ",var_set_in_R)

Displaying from R:  Set in variable in R

In [29]:
%%R
cat("Displaying from R: ",var_set_in_python)

Displaying from R:  Set this variable in python

In [12]:
%Rpush var_set_in_python

In [13]:
%%R
cat("Displaying from R: ",var_set_in_python)

Displaying from R:  Set this variable in python

In [15]:
print("Displaying from Python: ", var_set_in_R)

NameError: ignored

In [41]:
%Rpull var_set_in_R

In [49]:
var_set_in_R = next(iter(var_set_in_R))
var_set_in_R

'Set in variable in R'

In [68]:
import numpy as np

py_list = [1,2,3]
np_py_list = np.array([4,5,6])

In [69]:
%Rpush py_list np_py_list

In [71]:
%%R
print(class(py_list))
print(class(np_py_list))
print(py_list)
print(np_py_list)

[1] "list"
[1] "array"
[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[1] 4 5 6

In [57]:
%%writefile sample.csv
Name,Age
Oly,1
John,2

Writing sample.csv

In [58]:
import pandas as pd
df = pd.read_csv('sample.csv')

In [59]:
%Rpush df

In [62]:
%%R
df

  Name Age
0  Oly   1
1 John   2