<a href="https://colab.research.google.com/github/riabose2507/data-analysis-basics/blob/main/Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext google.colab.data_table

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [26]:
%%writefile data.csv
Name,Age,Location,DOB,Major,Marks
Oly,28,NY,1992-07-25,CS,100
John,34,TN,1986-07-31,Finance,65
Aritra,25,CA,1995-10-20,CS,95
Winnie,27,NY,1993-05-05,Comm,80

Writing data.csv

# pd.Timestamp & pd.Period

In [4]:
timestamp = pd.Timestamp("2018-09-12")
timestamp

Timestamp('2018-09-12 00:00:00')

In [6]:
timestamp.year, timestamp.month, timestamp.day

(2018, 9, 12)

In [9]:
period1 = pd.Period('2018')
period2 = pd.Period('2018-01')
period3 = pd.Period('2018-01-25')
period1, period2, period3

(Period('2018', 'A-DEC'), Period('2018-01', 'M'), Period('2018-01-25', 'D'))

In [15]:
period2.asfreq('D'), period1.asfreq('M'), period1.asfreq('D'), period3.asfreq('A-JAN')

(Period('2018-01-31', 'D'),
 Period('2018-12', 'M'),
 Period('2018-12-31', 'D'),
 Period('2018', 'A-JAN'))

In [20]:
period2 + 24

Period('2020-01', 'M')

In [24]:
timestamp.to_period('D') + 2

Period('2018-09-14', 'D')

In [25]:
period3.to_timestamp()

Timestamp('2018-01-25 00:00:00')

# Convert CSV into timeseries

In [74]:
df = pd.read_csv('data.csv')
df_new = df.set_index('Name')

In [75]:
df_new

        Age Location         DOB    Major  Marks
Name
Oly      28       NY  1992-07-25       CS    100
John     34       TN  1986-07-31  Finance     65
Aritra   25       CA  1995-10-20       CS     95
Winnie   27       NY  1993-05-05     Comm     80

In [98]:
df.loc[:2,["Name","Age"]]

     Name  Age
0     Oly   28
1    John   34
2  Aritra   25

In [110]:
df_new.loc["Oly":"John","Age":"DOB"]

      Age Location         DOB
Name
Oly    28       NY  1992-07-25
John   34       TN  1986-07-31

In [39]:
df2 = pd.read_csv('data.csv', index_col='DOB', parse_dates=True)
df2

              Name  Age Location    Major  Marks
DOB
1992-07-25     Oly   28       NY       CS    100
1986-07-31    John   34       TN  Finance     65
1995-10-20  Aritra   25       CA       CS     95
1993-05-05  Winnie   27       NY     Comm     80

In [40]:
after_1990_before_1995 = (df2.index > '1990') & (df2.index < '1995')
df2[after_1990_before_1995]

              Name  Age Location Major  Marks
DOB
1992-07-25     Oly   28       NY    CS    100
1993-05-05  Winnie   27       NY  Comm     80

In [60]:
pd.date_range(start='2020-01-25', periods=12, freq='M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [62]:
df2.index.to_period('D')

PeriodIndex(['1992-07-25', '1986-07-31', '1995-10-20', '1993-05-05'], dtype='period[D]', name='DOB', freq='D')

In [64]:
np.random.random(size=(12,2))

array([[0.3882566 , 0.82642439],
       [0.19961964, 0.4097791 ],
       [0.98832955, 0.03557555],
       [0.93655194, 0.82770333],
       [0.13897377, 0.5216861 ],
       [0.62738778, 0.54783747],
       [0.79063867, 0.60084439],
       [0.42415165, 0.5852646 ],
       [0.01012062, 0.22551198],
       [0.16641194, 0.20555952],
       [0.6258461 , 0.08940557],
       [0.18470546, 0.96874524]])